<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxigen-</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="container">
       <header>
           <div class="logo"><a href="#">Oxigen-</a></div>
           <nav class="menu">
               <ul>
                   <li><a href="#">About Us</a></li>
                   <li><a href="#">Write</a></li>
                   <li><a href="#">Sign In</a></li>
               </ul>
           </nav>
           <button>Get Started</button>
       </header>
       <main>
           <section id="home">
               <div class="cnt home">
                    <h1>welcome! <br> read and share your ideas.</h1>
                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Cumque veritatis non incidunt sunt accusantium repellendus quam!</h3>
                    <div class="btn">
                        <button>Get Started</button>
                    </div>
                </div>
            </section>
       </main>
       <footer></footer>
   </div>
</body>
</html>