<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxigen-</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>        
            <div class="logo">Oxigen-</div>
            <nav class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <button>Login</button>
        </header>
        <main>
            <section id="home">
                <div class="cnt home">
                    <h3>Landing Page Oxigen-</h3>
                    <h1>Welcome!</h1>
                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta tenetur unde tempore aut blanditiis nam expedita corporis atque nihil. Odit?</h3>
                    <div class="btn">
                        <button>Join Now</button>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="cnt footer">
                <h3>Developed by <a href="https://github.com/Amar007m">Amar </a> and <a href="https://github.com/xavier290"> xavier</a> with love for you</h3>
            </div>
        </footer>
    </div>
</body>
</html>